---
import BentoBuilder from "~/features/bento/ui/bento-builder.astro";
import { BentoItems } from "~/features/bento/view-model/mock-items";
import Avatar from "~/shared/ui/kit/Avatar.astro";
import RootLayout from "~/shared/ui/layouts/RootLayout.astro";

export const prerender = false;
// const { username } = Astro.params;

const title = "Mikhail Mogilnikov";
const description = "Software & Design Engineer";
const avatarUrl = "https://avatars.githubusercontent.com/u/125604210?v=4";
---

<RootLayout
  title={title}
  description={description}
  image={avatarUrl}
  className="purple open-runde"
>
  <main
    id="content"
    class="max-w-8xl mx-auto flex flex-col lg:flex-row gap-6 px-4 lg:px-8 lg:gap-8 xl:px-20 xl:gap-20 py-10 lg:py-20"
  >
    <header
      class="flex gap-4 flex-col items-start max-lg:max-w-107 max-lg:mx-auto lg:sticky lg:top-20 lg:h-fit lg:max-w-120 w-full"
      role="banner"
    >
      <Avatar
        src={avatarUrl}
        alt={title}
        className="size-46"
        blur={true}
        blurClassName="lg:top-38 lg:left-20 lg:scale-x-210 lg:scale-y-170"
      />
      <h1 class="text-4xl font-bold px-2 mt-4 z-1">{title}</h1>
      <p class="text-lg text-muted-foreground px-2 z-1">{description}</p>
    </header>

    <section class="gap-5 max-w-[428px] mx-auto w-full">
      <BentoBuilder items={BentoItems} />
    </section>
  </main>
</RootLayout>
